{
  "plugins": ["prettier-plugin-astro"],
  "useTabs": true,
  "tabWidth": 4,

  "overrides": [
    {
      "files": "package.json",
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": [
        "astro.config.mjs",
        ".prettierrc*",
        "eslint.config.*",
        ".lintstagedrc.json",
        "*.config.js",
        "*.config.ts"
      ],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
