---
import UIKitGroup from "@/components/uikit/UIKitGroup.astro";
import Button from "@/components/ui/Button.astro";
---

<UIKitGroup title="Medium buttons" description="Default size.">
	<Button href="#" variant="primary">Primary Medium</Button>
	<Button href="#" variant="danger">Danger Medium</Button>
	<Button href="#" variant="outline-secondary"
		>Outline Secondary Medium</Button
	>
	<Button href="#" variant="link-primary">Link Medium</Button>
</UIKitGroup>

<UIKitGroup title="Extra Small buttons">
	<Button href="#" variant="primary" size="xs">Primary Extra Small</Button>
	<Button href="#" variant="danger" size="xs">Danger Extra Small</Button>
	<Button href="#" variant="outline-secondary" size="xs"
		>Outline Secondary Extra Small</Button
	>
	<Button href="#" variant="link-primary" size="xs">Link Extra Small</Button>
</UIKitGroup>

<UIKitGroup title="Small buttons">
	<Button href="#" variant="primary" size="s">Primary Small</Button>
	<Button href="#" variant="danger" size="s">Danger Small</Button>
	<Button href="#" variant="outline-secondary" size="s"
		>Outline Secondary Small</Button
	>
	<Button href="#" variant="link-primary" size="s">Link Small</Button>
</UIKitGroup>

<UIKitGroup title="Large buttons">
	<Button href="#" variant="primary" size="l">Primary Large</Button>
	<Button href="#" variant="danger" size="l">Danger Large</Button>
	<Button href="#" variant="outline-secondary" size="l"
		>Outline Secondary Large</Button
	>
	<Button href="#" variant="link-primary" size="l">Link Large</Button>
</UIKitGroup>

<UIKitGroup title="Additional variants">
	<Button href="#" variant="warning">Warning</Button>
	<Button href="#" variant="success">Success</Button>
	<Button href="#" variant="info">Info</Button>
	<Button href="#" variant="light">Light</Button>
	<Button href="#" variant="dark">Dark</Button>
</UIKitGroup>

<UIKitGroup title="Outline variants">
	<Button href="#" variant="outline-primary">Outline Primary</Button>
	<Button href="#" variant="outline-danger">Outline Danger</Button>
	<Button href="#" variant="outline-warning">Outline Warning</Button>
	<Button href="#" variant="outline-success">Outline Success</Button>
	<Button href="#" variant="outline-info">Outline Info</Button>
	<Button href="#" variant="outline-light">Outline Light</Button>
	<Button href="#" variant="outline-dark">Outline Dark</Button>
</UIKitGroup>

<UIKitGroup
	title="Gradient button"
	description="Add the gradient button example."
>
	<Button href="#" variant="gradient-blue" size="l">Gradient Blue</Button>
	<Button href="#" variant="gradient-green" size="l">Gradient Green</Button>
	<Button href="#" variant="gradient-red" size="l">Gradient Red</Button>
</UIKitGroup>
