---
import UIKitGroup from "@/components/uikit/UIKitGroup.astro";
import Modal from "@/components/ui/Modal.astro";
import Button from "@/components/ui/Button.astro";
---

<UIKitGroup>
	<Modal title="Terms of Service" class="w-1/3">
		<div slot="body">
			<p>
				With less than a month to go before the European Union enacts
				new consumer privacy laws for its citizens, companies around the
				world are updating their terms of service agreements to comply.
			</p>
		</div>
		<div slot="footer">
			<Button variant="primary" size="s">I accept</Button>
			<Button variant="outline-secondary" size="s">Decline</Button>
		</div>
	</Modal>
</UIKitGroup>
