---
/**
 * 404 — Page Not Found
 *
 * @file
 * @name 404.astro
 * @description Displays when the user tries to access a non-existent page.
 * @example
 * <Layout title="Page Not Found">
 *   <main class="flex flex-col items-center justify-center min-h-screen text-center">
 *     <Typography variant="display-1">404</Typography>
 *     <Typography variant="lead" class="text-gray-600 mb-8">
 *       Oops! The page you're looking for doesn't exist.
 *     </Typography>
 *     <a href="/" class="btn btn-primary">Back to Home page</a>
 *   </main>
 * </Layout>
 */

import Layout from "@/layouts/Layout.astro";
import Typography from "@/components/ui/Typography.astro";
import Link from "@components/ui/Link.astro";

const title = "Page Not Found";
---

<Layout title={title}>
	<main class="flex flex-col items-center justify-center mt-5">
		<Typography variant="display-1" class="mb-5">404</Typography>
		<Typography variant="lead" class="text-gray-600 mb-5">
			{title}
		</Typography>
		<Link
			href="/"
			title="Back to Home page"
			class="text-blue-500 hover:text-blue-700">Back to Home page</Link
		>
	</main>
</Layout>
