<footer class="bg-gradient-to-r from-blue-950 to-purple-800 p-10">
	<div class="container mx-auto text-center text-gray-300">
		<p class="font-light">
			Data provided by <a
				href="https://www.coingecko.com/"
				target="_blank"
				rel="noopener noreferrer"
				class="text-blue-400 hover:underline">CoinGecko</a
			>
		</p>
		<p class="text-sm font-thin">
			© {new Date().getFullYear()} TradeChain. All rights reserved.
		</p>
	</div>
</footer>
