---
/**
 * Header component with logo and navigation.
 *
 * @component
 * @example
 * <Header />
 */

import Logo from "./Logo.astro";
import NavLink from "@/components/ui/NavLink.astro";
---

<header class="bg-gradient-to-r from-blue-900 to-blue-700 p-5">
	<div class="container mx-auto text-white flex justify-between items-center">
		<Logo description="Trade with confidence and control your risks" />
		<NavLink
			activeClass="text-blue-400"
			links={[
				{ href: "/", title: "App", text: "App" },
				{ href: "/uikit", title: "UI Kit", text: "UI Kit" },
				{
					href: "/style-guide",
					title: "Style Guide",
					text: "Style Guide",
				},
			]}
		/>
	</div>
</header>
