<header class="bg-blue-800">
	<div class="container text-white">
		<h1 class="text-3xl font-bold">TradeChain</h1>
		<p class="font-thin text-blue-200">
			Trade with confidence and control your risks
		</p>
	</div>
</header>
