<section class="text-center mb-8">
	<h2 class="text-2xl font-semibold text-gray-800">Cryptocurrency Search</h2>
	<p class="text-gray-600 font-light">
		Search for any cryptocurrency by name or symbol to get the latest
		information.
	</p>
</section>
