---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Search and discover cryptocurrencies with real-time data from CoinGecko",
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100 min-h-screen flex flex-col">
		<Header />
		<div class="flex-grow">
			<main class="container mx-auto">
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>
